/*Selector {
	Propery: value;
}*/



* {
	text-align: right;
}


body {
	background-image: url(https://images.unsplash.com/photo-1766488735864-44c313801587?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw3fHx8ZW58MHx8fHx8);
	background-size: cover;
}

h2 > p{
	color:#AA3939;
	text-align:center;
	border: 5px solid rgb(255, 176, 170, 0.5);
	cursor: pointer;
}


p { 
    color:pink;
 }


p { 
 	color:green;
  }

  li {
  	list-style: none;
  	display: inline-block;
  }

.webtext {
	border: 5px dashed green;
}


.active {
	color: red;
}

#div1 {
	background:rgba(0, 0, 255, 0.2);
}

#div2 {
	background:rgba(255, 0, 0,0.2);
}